* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 15%);
  font-family: sans-serif;
}

h1 {
  font-size: 50px;
  width: 33%;
  font-weight: normal;
  position: absolute;
  top: 40%; left: 30px;
  color: #eee;
  text-shadow: 0 10px 30px hsla(0, 0%, 0%, 1);
}
form {
  width: 400px;
  padding: 25px;  
  background-color: hsla(200, 50%, 45%, 1);
  position: absolute;
  top: 50%; right: 10%;
  margin: -120px 0 0;
  transition: top 1s;
  box-shadow: 
    0 10px 10px hsla(0, 0%, 0%, .3),
    0 10px 70px hsla(0, 0%, 0%, .7) inset;
  border-radius: 7%;
}

.password:valid + .lockbar {
  transform: rotateY(180deg);
  top: -250px;
  transition: transform 1s 1s, top 1s;
}

.lockbar {
  height: 350px; width: 250px;
  position: absolute;
  top: -180px;
  left: 50%;
  margin-left: -125px;
  border: 30px #000 solid;
  border-bottom: none;
  border-radius: 125px;
  border-bottom-left-radius: 0;
  z-index: -1;
  transition: transform 1s, top 1s 1s;
  transform-origin: 0% 50%;
}
.cutoff {
  height: 50%; width: 250px;
  background-color: hsl(0, 0%, 15%);
  margin-bottom: -30px;
  position: absolute;
  bottom: 0;
}

input[type=text], input[type=password] {
}
input[type=submit] {
  cursor: pointer;

}
input[type=submit]:hover {
  box-shadow: 0 0 15px hsla(0, 0%, 100%, .7);
}

input {
  height: 100px; width: 100%;
  display: block;
  margin-bottom: 15px;
  font: 50px sans-serif;
  text-align: center;
  outline: 0;
  border: none;
  border-radius: 7px;
  background-color: hsla(0, 0%, 5%, .3);
  box-shadow: 0 0 7px hsla(0, 0%, 5%, .3) inset;
  color: #eee;
  text-shadow: 0 3px 15px hsla(0, 0%, 0%, .7);
}
input:last-child {
  margin-bottom: 0;
}